# Public-key cryptography
CONFIG_CRYPTO_CURVE25519=m
# END - Public-key cryptography

# Block ciphers
# CONFIG_CRYPTO_CAST5 is not set
# CONFIG_CRYPTO_DES is not set
# CONFIG_CRYPTO_TWOFISH is not set
# END - Block ciphers

# Hashes, digests, and MACs
# CONFIG_CRYPTO_MD4 is not set
# CONFIG_CRYPTO_MICHAEL_MIC is not set
# CONFIG_CRYPTO_WP512 is not set
# END - Hashes, digests, and MACs