CONFIG_DEFAULT_INIT="/usr/lib/systemd/systemd"

## IRQ subsystem
# CONFIG_GENERIC_IRQ_DEBUGFS is not set
## END - IRQ subsystem

## Timers subsystem
# CONFIG_NO_HZ is not set
## END - Timers subsystem

## Control Group support
CONFIG_CGROUP_MISC=y
## END - Control Group support

## Configure standard kernel features (expert users)
# CONFIG_UID16 is not set
## END - Configure standard kernel features (expert users)