## Support for init systems, system and service managers
# CONFIG_GENTOO_LINUX_INIT_SCRIPT is not set
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y
## - END Support for init systems, system and service managers

CONFIG_GENTOO_KERNEL_SELF_PROTECTION=y
## Kernel Self Protection Project
CONFIG_GENTOO_KERNEL_SELF_PROTECTION_ARM64=y
## END - Kernel Self Protection Project