# printk and dmesg options
# CONFIG_DEBUG_BUGVERBOSE is not set
# END - printk and dmesg options

# Compile-time checks and compiler options
CONFIG_STRIP_ASM_SYMS=y
# END - Compile-time checks and compiler options

# Generic Kernel Debugging Instruments
# CONFIG_KGDB is not set
# END - Generic Kernel Debugging Instruments

CONFIG_UBSAN=y

# Undefined behaviour sanity checker
# CONFIG_UBSAN_TRAP is not set
CONFIG_UBSAN_BOUNDS=y
CONFIG_UBSAN_SHIFT=y
# CONFIG_UBSAN_DIV_ZERO is not set
# CONFIG_UBSAN_UNREACHABLE is not set
CONFIG_UBSAN_BOOL=y
CONFIG_UBSAN_ENUM=y
# CONFIG_UBSAN_ALIGNMENT is not set
CONFIG_UBSAN_SANITIZE_ALL=y
# CONFIG_TEST_UBSAN is not set
# END - Undefined behaviour sanity checker

# Memory Debugging
# CONFIG_SLUB_DEBUG is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# END - Memory Debugging

# Scheduler Debugging
# CONFIG_SCHED_DEBUG is not set
# END - Scheduler Debugging

# CONFIG_LATENCYTOP is not set
